.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: peachpuff;
}

html,
body {
    box-sizing: border-box;
    background-color: peachpuff;
    height: 100%;
    padding: 10px;
    margin: 0px;
}

.container>div:nth-child(1n) {
    background-color: aqua;
}

.container>div:nth-child(3n) {
    background-color: plum;
}

.container>div:nth-child(2n) {
    background-color: rgb(103, 239, 130);
}

.container>div:nth-child(4n) {
    background-color: yellow;
}